.head{
    position: fixed;      /* yuxarıda sabit qalsın */
    top: 0;
    left: 0px;          /* sidebar qədər boşluq */
    right: 0;
    height: 60px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1;
}
.login{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search{
    width: 900px;
   
}
img{
    border-radius: 50%;
    width: 80px;
    height: 60px;
}
.sidebar{
    background-color: blue;
    display: inline-block;
    height: 100%;
    width: 150px;
    position: fixed;
    overflow-y: auto; 
    left: 0;
    
}
ul{
    
    list-style: none;
}
.box{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;   
    align-items: center;
    border-radius: 10%;
    height: 300px;
    width: 330px;
    background-color: bisque;
    
}
.container{
    display: flex;
    height: calc(100%-60px);
    
}
.main{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 100px;   
}
@media (max-width:492px){
    .sidebar{
    display: none;
  }
  .main{
    margin-left: 0; 
  }
}
@media (min-width:493px) and (max-width:768px){
    .main{
        display: grid;
        grid-template-columns: auto auto ;
    }
}
