ul{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
}
.head{
    justify-content: space-between;
    display: flex;
    align-items:center;
    padding: 15px 200px;
    background-color: ghostwhite;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.logo{
    font-size: large;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 100px;
    flex-wrap: wrap;
}
.box{
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;   
    align-items: center;
    border-radius: 10%;
    width: 240px;
}
.box h3{
    font-weight: 18px;
    text-align: center;
}
.box p{
    font-weight: bold;
}
img{
    width: 120px;
}
button{
    background-color: blue;
    color:white;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 5%;
}
footer p{
    text-align: center;

}
.foot1{
    background-color: rgb(78, 76, 76);
    color: white;
    padding: 2px;
}
.foot2{
    text-align: center;
    padding: 20px;
}
@media (max-width:992px){
    .box{
        flex-direction: column;
        align-items: center;
    }

}
